body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#room-selection {
    margin-top: 50px;
}

#drawing-area {
    position: relative;
}

canvas {
    border: 1px solid black;
    display: block;
    margin: 20px auto;
}

#toolbar {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
